# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# WindRiver Files
.metadata
*.d
PPC603gnu
.cproject
.wrmakefile
.wproject
.project
